
header{
    height: 6em;
}
img{
    width: 20em;
    margin-top: 1em;
    border-radius: 40%;
    border-style: groove;
    border-color: #117a6f;
}
h1 {
    text-align: center;
    margin-top: 3.5em;
    color: rgb(8, 78, 78);
    font-size: xx-large;
    font-family: 'Verdana';
}
nav {
    background-color: rgb(82, 182, 182);
    height: 3em;
    margin-left: 6.3em;
    border-radius: 2em;
    border-bottom: solid #117a6f;
}

div#nav {
    padding: 0.5em;
    margin-left: 1em;
    box-sizing: border-box;
}

div#prob{
    border: 2px solid rgb(167, 167, 46);
    border-radius: 2em;
    background-color: antiquewhite;
    margin-top: 10%;
    margin-left:35%;
    padding: 5%;
    box-sizing: border-box;
}
div#ultimoimp{
    border: solid  rgb(8, 78, 78);
    border-radius: 3%;
    background-color: rgb(192, 211, 211);
    margin-top: 2em;
    box-sizing: border-box;
}

main#ultimoimpiego {
    width: 100%;
    padding: 3%;
}

div#titleultiimpiego{
    font-size: large;
    font-family: Verdana;
    margin-bottom: 0.5em;
    color: #0b4fae;
}

div#competenze{
    padding: 1%;
}
footer{
    height: 5em;
    background-color:  rgb(82, 182, 182);
}
div#footer{
    padding: 2em;
    margin-top: 2em;
    margin-left: 40%;
}
body{
    background-color: rgba(128, 142, 141, 0.902);
    font-family: Verdana;
}