<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset = "utf-8">
        <title>I miei studenti</title>
    </head>
    <body>
        <h1>Lista degli studenti</h1>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>nome</th>
                    <th>cognome</th>
                    <th>CV</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="s : ${students}">
                    <td th:text="${s.id}"></td>
                    <td th:text="${s.firstname}"></td>
                    <td th:text="${s.lastname}"></td>
                    <td><a th:href ="@{/student/showcv/{id}(id=${s.id})}">Vai al CV</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>