<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyCV</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<article>
    <header>
        <h1 th:text="${cv.student.fullName}" id = "name"></h1>
    </header>
    <div id="container">
        <section id="info">
            <h3>PROFILO</h3>
            <label for="birthdate">Data di nascita</label>
            <p id="birthdate" th:text="${cv.student.birthdate}"></p>
            <label for="telephone">Numero di telefono</label>
            <p id="telephone" th:text="${cv.student.telephone}"></p>
            <label for="email">Email</label>
            <p id="email" th:text="${cv.student.email}"></p>
            <label for="city">Città</label>
            <p id="city" th:text="${cv.student.city}"></p>
            <label for="hobby">Hobby</label>
            <p id="hobby" th:text="${cv.student.hobby}"></p>
        </section>
        <section id="experiences">
            <main>
                <section>
                    <h3>FORMAZIONE</h3>
                    <ol>
                        <li th:each="ed : ${cv.educations}">
                            <h4 th:text="${ed.course}"></h4>
                            <p th:text="${ed.school}"></p>
                            <p th:text="${ed.startDate} + ' - ' + ${ed.endDate}"></p>
                            <p th:text="${ed.description}"></p>
                        </li>
                    </ol>
                </section>
                <section>
                    <h3>ESPERIENZA PROFESSIONALE</h3>
                    <ol>
                        <li th:each="we : ${cv.experiences}">
                            <h4 th:text="${we.role}"></h4>
                            <p th:text="${we.workPlace} + '-' + ${we.city}"></p>
                            <p th:text="${we.startDate} + '-' + ${we.endDate}"></p>
                            <p th:text="${we.description}"></p>
                        </li>
                    </ol>
                </section>
            </main>
        </section>
    </div>
</article>
</body>
</html>